{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<h1>Startup Exchange Beta</h1>

<p>Welcome to our Startup Exchange Beta Platform. Feel free to create a profile while we add more features!</p>

{% if not current_user.is_authenticated %}
<p>
To view the User page, you must
<a href="{{ url_for('user.login') }}">Sign in</a> or
<a href="{{ url_for('user.register') }}">Register</a>.
</p>
{% endif %}

<p>
    Test users:<br/>
    - user@example.com / Password1<br/>
    - admin@example.com / Password1
</p>

{% endblock %}
